<div id="header-container">
		<header class="wrapper">
		    <a href="index.html" title="Wact"><h1 id="title">le partage de lien <span>simple</span> et <span>rapide</span></h1></a>
			<nav>
				<ul id="navSite">
					<li id="btNouveau"><a href="/Nouveau" title="nouveau lien">Nouveau</a></li>
					<li id="btPopulaire"><a href="/Populaire" title="liens populaires">Populaire</a></li>
					<li><a href="#" title="profil">Mikado (2)</a></li>
					<li><a href="#" title="Déconnexion">Déconnexion</a></li>
					<li id="addLink" class="callTo"><a href="#"><span>+ </span>Ajouter un lien</a><li>
				</ul>
				<ul id="navLink">
					<li id="btCom"><a href="#" title="commentaires">Commentaires</a></li>
					<li id="btPartager"><a href="#" title="partager">Partager</a></li>
					<li id="btRecommander" class="callTo"><a href="#"><span>+ </span>Recommander</a><li>
				</ul>		
			</nav>
			<div id="categories">
			</div>
		</header>
	</div>
	<div id="filtre">
		<ul class="wrapper">
			<li>Design</li>
			<li>E-business</li>
			<li>Technique</li>
			<li>fun</li>
		</ul>
	</div>
	<div id="commentaires" class="wrapper">
		
	</div>

