<div id="index">
	<div class="wrapper">
		<div id="logo">
			<h1 id="title">le partage de lien <span>simple</span> et <span>rapide</span></h1>
		</div>
		<div id="desc">
			<h2>WACT : Le <span>partage de liens</span><br>n’a jamais été aussi <span>simple</span></h2>
			<ul>
				<li>
					<img src="http://www.wact.fr:3000/css/img/mac.png">
					<p>Bienvenue sur <span>WACT</span>, la plate forme de partage de liens <span>simple</span> et <span>efficace</span> !
					Sur <span>WACT</span>, tous les membres peuvent partager des liens avec l'ensemble
					 de la communauté.</p>
						<p>	Ces liens sont classés par catégories et par pertinence et vous pouvez 
						échanger entre vous sur les différents sujets via les commentaires !</p>
				</li>
			</ul>
		</div>
		<div id="log">
			<div id="connect">
				<form action="http://www.wact.fr:3000/connexion" method="post">
				 <label><span>e-mail</span><input name=email type=email class="champ email" required></label>
				 <label><span>mot de passe</span><input type="password" name="pass" class="champ mdp"  required></label>
				 <input type=submit value=Connexion class="valid">
				</form>
			</div>
			<div id="social">
				<p>Se connecter avec Facebook ou Twitter :</p>
			    <ul>
					<li id="fb" style="display:inline;"><a href=""><img src="http://www.gmx.com/resources/com.unitedinternet.gmx.portalint.wicket.facebookconnect.PanelFacebookConnect/PanelFacebookConnect/Button_FBConnect.png?w:lm=1320962234" alt"Facebook"></a></li>
					<li id="tw" style="display:inline;"><a href=""><img src="http://doneed.net/b/wp-content/plugins/twitconnect/images/twitter_signin.png" alt"Twitter"></a></li>
                </ul>
			</div>
			<div id="GoSite">
				<a href="/Populaire" title="wact">Accéder au site</a>
			</div>
			<p>Pas encore inscrit? Par ici :</p>
			<div id="NewUser">
				<form action="http://www.wact.fr:3000/NewUser" method="post">
				 <label><span>nom</span><input name=name class="champ" required></label>
				 <label><span>e-mail</span><input name=email type=email class="champ" required></label>
				 <label><span>mot de passe</span><input type="password" name="pass" class="champ" required></label>
				 <input type=submit value="Créer mon compte" class="valid">
				</form>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>

